*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/university-campus.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
h1{
    font-size: 50px;
    color: white;
    text-align: left;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(112, 112, 228);
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.text-box h1{
    font-size: 60px;
    text-align: center;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;

}
.btn{
    display: inline;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
}
.btn:hover{
    background: rgb(112, 112, 228);
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: inline-block;
    }
    h1{
        font-size: 30px;
    }

}


/*--------- Course ---------*/
.Course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
}
h2{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.column{
    background: #fff3f3;
    border-radius: 10px;
    margin: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.column:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px ;
}


@media(max-width: 700px){
    .rows{
        flex-direction: column;
    }
}

/*----- campus -----*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.row{
    display: grid;
    grid-template-columns: 8px 8px 8px;
    gap: 400px;
}
.col img{
   width: 300px;
   height: 200px;
}
.layer{
    width: 100%;
    font-weight: 500;
    font-size: 26px;
}
h4{
    color: black;
    font-size: 50px;
    text-align: center;
    margin-top: 10%;
}
p{
   margin-bottom: 15%;  
}
.col:hover{
   color: #2395f1;
} 

@media(max-width: 700px){
    .row{
        display: block;
    }
}
@media(max-width: 1000px){
    .row{
        display: inline;
    }
}

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities h1{
    color: black;
    text-align: center;
}
.facilities-col{
    border-radius: 10px;
    margin-bottom: left;
    color: black;
}
.facilities-col img{
    width: 300px;
    border-radius: 20px;
}
.facilities-col p{
    padding: 0;
    text-align: left;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*----- Call to action -----*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/graduation-pics.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #ffff;
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}

/*----- Footer -----*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}